/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';



table {
  @apply w-full text-left border-collapse;
}

th, td {
  @apply border px-4 py-2;
}

/* כותרות */
th {
  text-align: center; /* ממורכז */
  vertical-align: middle; /* ממורכז גם אנכית */
}

/* ערכים בטבלה */
td {
  text-align: center; /* ממורכז */
  vertical-align: middle; /* ממורכז גם אנכית */
}

